<% if @page.errors.any? %>
<div id="errorExplanation">
  <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>
  <ul>
  <% @page.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="editable">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="editable">
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
