<div id="comment_form" class="boxed">
  <%= form_for [@post,Comment.new] do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :body, "Make a comment:" %><br />
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit 'Comment', :class => 'awesome_button' %>
    </p>
  <% end %>
  <div class="clear"></div>
</div>