<div class="user_form boxed">
<h3>Sign up for your own personal account</h3>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2>Whoops! Something went wrong there...</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="actions">
    <%= f.submit "Create Account", :class => 'awesome_button' %>
  </div>
<% end %>
<p><%= link_to "Need another activation email sent?", new_activation_email_path %></p>
</div>
