<ul id="navigation">
  <li class="flush_left"><%= link_to "Home", root_path %></li>
  <li><%= link_to "Top Posts", top_rated_posts_path %></li>
  <li><%= link_to "Random Post", random_posts_path %></li>
  <li><%= link_to "Submit a Post", new_post_path %></li>
  <li><%= link_to "Help Moderate", moderators_path %></li>
</ul>