<div id="side_bar">
  <div id="account_box" class="boxed side_box">
    <% if logged_in? %>
      <h5>Hello, <%= current_user.login %> <span>(<%= link_to "logout", logout_path %>)</span></h5>
      <ul>
        <li><%= link_to "View Profile", user_path(current_user) %></li>
        <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
        <li><%= link_to "My Messages", "#" %></li>
        <li><%= link_to "Favorites", user_favorites_path(current_user) %></li>
        <% if current_user.admin? -%>
          <li><%= link_to "Site Admin", admin_path %></li>
        <% end -%>
      </ul>
    <% else %>
      <h5>Login</h5>
      <% form_for UserSession.new, :url => user_session_path do |f| %>
        <%= f.error_messages %>
        <div>
          <%= f.label :login, "Username/Email" %><br />
          <%= f.text_field :login %>
        </div>
        <div>
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>
        <div id="login_stuff">
          <%= f.check_box :remember_me %><%= f.label :remember_me, "Remember me?", :id => 'rem_submit' %>
          <%= f.submit "Login", :class => 'awesome_button' %>
        </div>
        <div id="login_bottom">
          <%= link_to "Password?", new_password_path %> -
          <%= link_to "Sign up!", new_user_path %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="categories" class="boxed side_box">
    <h5>Categories</h5>
    <ul>
      <% Category.all.sort {|a,b| a.name <=> b.name }.each do |category| %>
        <li><%= link_to category.name, category %></li>
      <% end %>
    </ul>
  </div>
  <% unless @preferences[:side_box_ad].blank? %>
    <div id="side_ad" class="boxed side_box">
      <%= raw @preferences[:side_box_ad] %>
    </div>
  <% end %>
</div>