<div id="comments">
  <table class="medium_round">
    <caption class="medium_round_top"><%= @post.comments.size %> Comments</caption>
    <tr>
      <th class="author_row first_column">Author</th>
      <th>Comment</th>
    </tr>
    <% @post.comments.parent_comments.each do |comment| %>
      <tr class="border_bottom <%= cycle('odd', 'even') %>">
        <td class="first_column">
          <%= link_to comment.user.login, edit_admin_user_path(comment.user) %><br />
          <%= comment.created_at.to_s(:long) %>
        </td>
        <td>
          <%= comment.body %>
          <div class="actions">
            <%= button_to "Unapprove", "#", :class => 'awesome_button' %>
            <%= button_to "Delete", "#", :class => 'awesome_button' %>
            <%= button_to "Spam", "#", :class => 'awesome_button' %>
          </div>
        </td>
      </tr>
      <% comment.children.each do |ccomment| %>
        <tr class="child_column">
          <td class="first_column_child">
            <div class="wtf_div">
            <%= link_to comment.user.login, edit_admin_user_path(ccomment.user) %><br />
            <%= ccomment.created_at.to_s(:long) %>
            </div>
          </td>
          <td>
            <%= ccomment.body %>
            <div class="actions">
              <%= button_to "Unapprove", "#", :class => 'awesome_button' %>
              <%= button_to "Delete", "#", :class => 'awesome_button' %>
              <%= button_to "Spam", "#", :class => 'awesome_button' %>
            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>