<div id="poststuff">
  <h3>Edit Post</h3>
  <div id="main_content">
    <div id="main_content_body">
    <% if @post.errors.any? %>
    <div id="errorExplanation">
      <h2>Whoops! Something went wrong there...</h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
      <%= form_for([:admin,@post]) do |f| %>
        <div id="post_main">
          <div id="post_header" class="medium_round_top ltr_border">
            <%= f.select :category_id, Category.all.map { |c| [c.name, c.id]} %>
            <%= f.label :category_id, "Category:" %>
            By <%= admin_post_creator_link(@post) %>
          </div>
          <div id="body" class="lr_border">
            <%= f.text_area :body %>
          </div>
          <div id="box_footer" class="medium_round_bottom lbr_border">
            <%= f.submit "Update", :class => 'awesome_button' %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="comments">
    <table class="medium_round">
      <caption class="medium_round_top"><%= @post.comments.size %> Comments</caption>
      <tr>
        <th class="author_row first_column">Author</th>
        <th>Comment</th>
      </tr>
      <% @post.comments.parent_comments.each do |comment| %>
        <tr class="border_bottom <%= cycle('odd', 'even') %>">
          <td class="first_column">
            <%= link_to comment.user.login, edit_admin_user_path(comment.user) %><br />
            <%= comment.created_at.to_s(:long) %>
          </td>
          <td>
            <%= comment.body %>
            <div class="actions">
              <%= button_to "Unapprove", "#", :class => 'awesome_button' %>
              <%= button_to "Delete", "#", :class => 'awesome_button' %>
              <%= button_to "Spam", "#", :class => 'awesome_button' %>
            </div>
          </td>
        </tr>
        <% comment.children.each do |ccomment| %>
          <tr class="child_column">
            <td class="first_column_child">
              <div class="wtf_div">
              <%= link_to comment.user.login, edit_admin_user_path(ccomment.user) %><br />
              <%= ccomment.created_at.to_s(:long) %>
              </div>
            </td>
            <td>
              <%= ccomment.body %>
              <div class="actions">
                <%= button_to "Unapprove", "#", :class => 'awesome_button' %>
                <%= button_to "Delete", "#", :class => 'awesome_button' %>
                <%= button_to "Spam", "#", :class => 'awesome_button' %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    </div>
  </div>
  <div id="third_column">
    <div class="tc_box full_border medium_round">
      <div class="box_header">Publish</div>
      <div class="tc_body">
        <ul>
          <li>Status: <%= @post.scheduled_to_be_published? ? "Publishing on #{@post.published_at.strftime("%b %e, %R")}" : @post.state %></li>
          <% if @post.denied? %>
            <li>This post has been denied</li>
            <li>
              <%= button_to "Remove Denied Status", undeny_admin_post_path(@post), :class => 'awesome_button' %>
              <%= button_to "Delete", admin_post_path(@post), :method => :delete, :class => 'awesome_button' %>
            </li>
          <% else %>
          <li>
            <% if @post.currently_published? %>
              Published On: <%= @post.published? ? @post.published_at.to_s(:long) : "Not Published" %>
            <% end %>
          </li>
            <% if @post.currently_published? || @post.scheduled_to_be_published? %>
              <li id="publish_form"><%= button_to "Unpublish Post", unpublish_admin_post_path(@post), :class => 'awesome_button' %></li>
            <% else %>
              <li id="publish_form">
                <%= form_tag publish_admin_post_path(@post) do %>
                  <label>Publish at:</label><br />
                  <%= select_month Date.today %>
                  <%= text_field_tag 'date[date]', Date.today.day %>
                  <%= text_field_tag 'date[year]', Date.today.year %>@
                  <%= text_field_tag 'date[hour]', Time.now.hour %>:
                  <%= text_field_tag 'date[minute]', Time.now.min %><br />
                  <%= submit_tag "Publish Post", :class => 'awesome_button' %>
                <% end %>
                <%= button_to "Spam", "#", :class => 'awesome_button' %>
                <%= button_to "Deny", deny_admin_post_path(@post), :class => 'awesome_button' %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="tc_box full_border medium_round">
      <div class="box_header">Activity Summary</div>
      <div  id="activity_summary" class="tc_body">
        <ul>
          <li>Number of Views: <%= @post.view_counter %></li>
          <li>Moderator Up Votes: <%= @post.moderator_up_vote_counter %></li>
          <li>Moderator Down Votes: <%= @post.moderator_down_vote_counter %></li>
          <li>Post Up Votes: <%= @post.up_vote_counter %></li>
          <li>Post Down Votes: <%= @post.down_vote_counter %></li>
          <li>Number of Comments: <%= @post.comments.size %></li>
          <li>
            Submitted By: <%= @post.user.blank? ? @preferences[:anonymous_display_name] : link_to(@post.user.full_name, edit_admin_user_path(@post.user)) %>
            <ul>
              <li>IP Address: <%= @post.ip_address %></li>
              <li>User Agent: <%= @post.user_agent %></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="tc_footer"><!-- put something here --></div>
    </div>
    <div class="tc_box full_border medium_round">
      <div class="box_header">Other Actions</div>
      <div class="tc_body">
        <ul>
          <li>
            <% if @post.short_url.blank? %>
              <%= button_to "Get Short URL", get_short_url_admin_post_path(@post), :class => 'awesome_button' %>
            <% else %>
              <%= button_to "Clear url", delete_short_url_admin_post_path(@post), :confirm => "Are you sure you want to remove this posts shortened url?", :id => 'remove_shortened_url' %>Shortened url: <%= link_to @post.short_url, @post.short_url %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="tc_footer"><!-- put something here --></div>
    </div>
  </div>
</div>