<h3>Review post</h3>

<%= form_for([:admin,@post], :html => { :class => 'jNice' }) do |f| %>
  <%= f.error_messages %>
  <fieldset>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
  
  </fieldset>
<% end %>
<fieldset>
  <legend>Available Actions</legend>
  <% if @post.published? -%>
    <p>Published on <%= @post.published_at.to_s(:long) %></p>
    <%= button_to "Unpublish this post", unpublish_admin_post_path(@post), :class => 'like_button' %>
  <% else -%>
    <%= form_tag publish_admin_post_path(@post) do %>
      <div id="published_at">
      <label for="publish_at">Publish Date:</label><span>YYYY-MM-DD HH:MM</span>
      <%= text_field_tag 'publish_at', @post.published_at.blank? ? '' : @post.published_at %>
      </div>
      <%= submit_tag "Publish this post", :class => 'like_button' %>
    <% end %>
  <% end -%>
</fieldset>
