<div id="poststuff">
  <h3>Edit Post</h3>
  <div id="main_content">
    <div id="main_content_body">
      <%= form_for([:admin,@post]) do |f| %>
        <%= f.error_messages %>
        <div id="post_main">
          <div id="post_header" class="medium_round_top ltr_border">
            <%= f.select :category_id, Category.all.map { |c| [c.name, c.id]} %>
            <%= f.label :category_id, "Category:" %>
            By <%= admin_post_creator_link(@post) %>
          </div>
          <div id="body" class="lr_border">
            <%= f.text_area :body %>
          </div>
          <div id="post_footer" class="medium_round_bottom lbr_border">
            <%= f.submit "Update", :class => 'awesome_button' %>
          </div>
        </div>
      <% end %>
    </div>
    <div id="post_comments" class="full_border medium_round">
      <div class="pc_header"><%= @post.comments.size %> Comments</div>
      <p>comments are here</p>
    </div>
  </div>
  <div id="third_column">
    <div class="tc_box full_border medium_round">
      <div class="tc_header">Publish</div>
      <div class="tc_body">here is the body</div>
      <div class="tc_footer">update</div>
    </div>
    <div class="tc_box full_border medium_round">
      <div class="tc_header">Activity Summary</div>
      <div class="tc_body">stuff happened</div>
      <div class="tc_footer">bottom</div>
    </div>
  </div>
</div>