<div>
  <%= f.label :preference_category, "Preference Category:" %>
  <%= f.select :preference_category_id, PreferenceCategory.all.map{|pc| [pc.name, pc.id]} %>
</div>
<div>
  <%= f.label :key, "Name:" %>
  <%= f.text_field :key %>
</div>
<div>
  <%= f.label :value, "Value:" %>
  <%= f.text_field :value %>
</div>