<div id="poststuff">
<h3><%= @preference_category.name %> Settings</h3>
<div id="main_content">
<%= form_tag bulk_update_admin_preferences_path do %>
  <% unless @errors.blank? %>
    <div id="errorExplanation">
      <h2>Oops! There was a problem saving your settings.</h2>
      <p>Please correct the following before continuing...</p>
      <ul>
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <ul id="preferences">
    <% @preferences.each do |pref| %>
      <li class="editable">
        <label><%= pref.display_name %></label>
        <% if pref.large? %>
          <%= text_area_tag "preferences[#{pref.key}]", pref.value, :class => has_errors?(pref) ? 'fieldHasErrors' : '' %>
        <% else %>
          <%= text_field_tag "preferences[#{pref.key}]", pref.value, :class => has_errors?(pref) ? 'fieldHasErrors' : '' %>
        <% end %>
        <% unless pref.description.blank? %>
        <span><%= pref.description %></span>
        <% end %>
      </li>
    <% end %>
    <li class="form_button"><%= submit_tag "Update Preferences", :class => 'submit_button small_round' %></li>
  </ul>
  <%= hidden_field_tag 'preference_category', @preference_category.name %>
<% end %>
</div>
</div>