<%= form_for(@post) do |f| %>
  <% unless @post.errors.blank? %>
    <div id="errorExplanation">
      <h2>Oops! There was a problem saving your post.</h2>
      <p>Please correct the following before continuing...</p>
      <ul>
        <% @post.errors.each_pair do |field, error| %>
          <% error.each do |e| %>
            <li><%= field %> <%= e %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="post_category" class="field">
    <%= f.label :category_id, "Choose a category:" %>
    <%= f.select :category_id, Category.all.map {|c| [c.name, c.id] } %>
  </div>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Let the world know" %>
  </div>
<% end %>