<%= form_for(@post) do |f| %>
  <%= f.error_messages %>

  <div id="post_category" class="field">
    <%= f.label :category_id, "Choose a category:" %>
    <%= f.select :category_id, Category.all.map {|c| [c.name, c.id] } %>
  </div>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Let the world know" %>
  </div>
<% end %>