<div id="post_<%= post.id %>" class="post boxed">
  <div class="boxed_header round_top">
    <div class="social_links">
      <span class="share_twitter">
        <%= link_to image_tag('tw0.png'), "#" %>
      </span>
      <span class="share_facebook">
        <%= link_to image_tag('fb0.png'), "#" %>
      </span>
      <span class="favorite_post">
        <% if logged_in? && current_user.favorite?(post) %>
          <%= image_tag('fav1.png') %>
        <% else %>
          <%= link_to image_tag('fav0.png'), favorite_post_path(post) %>
        <% end %>
      </span>
    </div>
    <div class="published_at">
      <%= post.published_at.to_s(:long) %>
    </div>
  </div>
  <div class="post_body">
    <p><%= link_to post.body, post %></p>
  </div>
  <div class="post_footer round_bottom">
    <%= link_to post.id, post %>
    <span class="created_by">By <%= post.user.blank? ? @preferences[:anonymous_display_name] : post.user.login %> in <%= link_to post.category.name, category_path(post.category) %></span>
    <span class="comment_count"><%= post.comments.count %> comments</span>
    <div class="votes">
      <%= button_to "#{@preferences[:thumbs_down]} (#{post.down_vote_counter})", down_vote_post_path(post), {:class => 'awesome_button down_vote'} %>
      <%= button_to "#{@preferences[:thumbs_up]} (#{post.up_vote_counter})", up_vote_post_path(post), {:class => 'awesome_button up_vote'} %>
    </div>
  </div>
</div>