<%= render :partial => @post %>

<div id="comments">
  <h4><%= Comment.count(:conditions => "post_id = #{@post.id}") %> Comments</h4>
  <% unless @post.parent_comments.blank? %>
  <%= render :partial => @post.parent_comments %>
  <% end %>
  <% if logged_in? -%>
    <%= render 'comments/form' %>
  <% else -%>
    <p>You must be logged in to comment. <%= link_to "Login", login_path %> or <%= link_to "Sign up", signup_path %></p>
  <% end -%>
</div>
