<div id="refine_results" class="boxed full_box">
<span>
  Refine by <%= link_to "week", top_rated_posts_path(:time_period => 'week') %>,
  <%= link_to "month", top_rated_posts_path(:time_period => 'month') %>,
  <%= link_to "year", top_rated_posts_path(:time_period => 'year') %>,
  <%= link_to "all", top_rated_posts_path(:time_period => 'all') %>
</span>
<h3><%= @posts.size %> Results</h3>

</div>
<%= render @posts %>