<div>
  <%= f.label :login %>
  <%= f.text_field :login %>
</div>
<div>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>
</div>
<div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :admin, "Admin?" %>
  <%= f.check_box :admin, :disabled => (current_user == @user) %>
</div>