<h3>Editing User</h3>
<% form_for([:admin,@user], :html => { :class => 'jNice' }) do |f| %>
  <fieldset>
  <%= f.error_messages %>
  <p>
    <%= f.label :login %>
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :admin, "Admin?" %>
    <%= f.check_box :admin %>
  </p>
  <p>
    <%= f.submit "Update Profile" %>
  </p>
  </fieldset>
<% end %>

<fieldset>
  <legend>Available Actions</legend>
  <% if current_user == @user %>
    <p>You can't change your own state</p>
  <% else %>
    <p>This user is currently <%= @user.state %> (activated on <%= @user.activated_at %>). The current available actions are...</p>
    <%= current_user_actions %>
  <% end %>
</fieldset>