<div id="poststuff">
  <h3>Editing User</h3>
  <div id="main_content">
    <div id="main_content_body" class="good_forms boxed full_box medium_round">
      <%= form_for([:admin,@user]) do |f| %>
        <fieldset>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>Oh snap! You need to fix <%= pluralize(@user.errors.count, "error") %>:</h2>
            <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= render :partial => 'form', :locals => { :f => f } %>
        <div>
          <%= f.submit "Update Profile", :class => "submit_button awesome_button" %>
        </div>
        </fieldset>
      <% end %>
    </div>
    <%= render :partial => 'admin/users/posts' %>
    <%= render :partial => 'admin/users/comments' %>
    <%= render :partial => 'admin/change_log/table', :locals => { :change_log => @changes, :caption => 'Changes' } %>
  </div>
  <div id="third_column">
    <div class="tc_box full_border medium_round">
      <div class="box_header">Available Actions</div>
      <div class="tc_body">
        <% if current_user == @user %>
          <p>You can't change your own state</p>
        <% else %>
          <p>This user is currently <%= @user.state %>. The current available actions are...</p>
          <%= current_user_actions %>
        <% end %>
      </div>
    </div>
    <div class="tc_box full_border medium_round">
      <div class="box_header">Additional Information</div>
      <div class="tc_body">
        <ul>
          <li>Created At: <%= @user.created_at.to_s(:long) %></li>
          <li>Last Login At: <%= @user.last_login_at.blank? ? "Never logged in." : @user.last_login_at.to_s(:long) %></li>
          <li>Login Count: <%= @user.login_count %></li>
          <li>Failed Login Count: <%= @user.failed_login_count %></li>
          <li>Number of Posts: <%= @user.posts.count %></li>
          <li>Number of votes cast on posts: <%= @user.post_votes.count %></li>
          <li>Number of moderator votes cast: <%= @user.moderator_votes.count %></li>
        </ul>
      </div>
    </div>
    <div class="tc_box full_border medium_round">
      <div class="box_header">Favorites</div>
      <div class="tc_body">
        <% if @user.favorites.blank? %>
          <p>This user does not have any favorites.</p>
        <% else %>
          <ul>
            <% @user.favorites.each do |fav| %>
              <li><%= link_to "Post #{fav.post.id}", edit_admin_post_path(fav.post) %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>