<h3>Viewing Users</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Login</th>
    <th>Full Name</th>
    <th>State</th>
    <th>Admin</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.login %></td>
      <td><%= user.full_name %></td>
      <td><%= user.state %></td>
      <td><%= user.admin? %></td>
      <td class="actions"><%= link_to "edit", edit_admin_user_path(user), :class => 'goto_link' %></td>
    </tr>
  <% end %>
</table>