<ul id="navigation">
  <li class="medium_round lonely_link"><%= link_to "Dashboard", "#" %></li>
  <li class="navigation_separator"></li>
  <li class="medium_round_top first_link"><%= link_to "Posts", admin_posts_path %></li>
  <li class="inside_link"><%= link_to "Categories", admin_categories_path %></li>
  <li class="inside_link"><%= link_to 'Settings', admin_preferences_path %></li>
  <li class="medium_round_bottom last_link"><%= link_to 'Pages', admin_pages_path %></li>
</ul>