<% caption ||= 'Changes' %>
<div class="change_log middle_column">
  <table class="medium_round">
    <caption class="medium_round_top"><%= change_log.size %> <%= caption %></caption>
    <tr>
      <th class="first_column">Created At</th>
      <th>Whodunnit</th>
      <th>Controller</th>
      <th>Action</th>
      <th>Item</th>
      <th>Attribute</th>
      <th>Previous Value</th>
      <th>Current Value</th>
    </tr>
    <% change_log.each do |log| %>
      <tr>
        <td class="first_column"><%= log.created_at.to_s(:short) %></td>
        <td><%= log.whodunnit.blank? ? 'Anon' : link_to(log.user.login, edit_admin_user_path(log.user)) %></td>
        <td><%= log.controller_name %></td>
        <td><%= log.action_name %></td>
        <td><%= change_log_link(log.item) %></td>
        <td><%= log.item_attribute %></td>
        <td><%= truncate(log.was, :length => 25) %></td>
        <td><%= truncate(log.is_now, :length => 25) %></td>
      </tr>
    <% end %>
    <tr>
      <td class="pagination_links" colspan="8">
        <div class="pagination_info"><%= page_entries_info change_log %></div>
        <%= will_paginate change_log %>
      </td>
    </tr>
  </table>
</div>
<div class="will_paginate_form">
  <%= will_paginate change_log, :form => true %>
</div>