<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name %> : <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'jquery.wysiwyg.css', 'compiled/screen', 'compiled/common.css', 'compiled/classes.css', 'compiled/admin.css' %>
    <%= javascript_include_tag 'jquery-1.4.2.js', 'jquery-ui-1.8.5.js', 'jquery.wysiwyg.js', 'rails', 'admin'  %>
  </head>
  <body>
    <%= render 'admin/shared/top_bar' %>
    <div id="body">
      <%= render 'admin/shared/navigation' %>
      <div id="content">
        <% flash.each_pair do |key, value| %>
          <p class="msg <%= key %>"><%= value %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <p>copyright 2009 Dan Engle</p>
    </div>
  </body>
</html>
