<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= controller.controller_name %> : <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'admin/transdmin', 'jquery.utils.css', 'ui.core.css', 'jquery.timepickr.css', 'common', 'admin' %>
    <%= javascript_include_tag 'jquery-1.4.2.js', 'jNice', 'admin'  %>
  </head>
  <body>
    <div id="wrapper">
      <h1><%= link_to raw("<span>Administration</span>"), admin_path %></h1> 
      <ul id="mainNav">
        <li><%= link_to 'Posts', admin_posts_path %></li>
        <li><%= link_to 'Categories', admin_categories_path %></li>
        <li><%= link_to 'Users', admin_users_path %></li>
        <li><%= link_to 'Site Preferences', admin_preferences_path %></li>
        <li class="logout"><%= link_to 'Logout', logout_path %></li>
        <li class="logout"><%= link_to 'View Site', root_path %></li>
      </ul>
      <div id="containerHolder">
        <div id="container">
          <%= render :partial => 'admin/shared/side_bar' %>
          <h2><%= link_to "Breadcrumbs", "#" %> &raquo; <%= link_to "Here", "#", :class => 'active' %></h2>
          <div id="main">
            <% flash.each_pair do |key, value| -%>
              <p class="msg <%= key %>"><%= value %></p>
            <% end -%>
            <%= yield %>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <p id="footer">copyright 2009 Dan Engle</p>
    </div>
  </body>
</html>
