<!DOCTYPE html>
<html>
<head>
  <title><%= @preferences[:site_title] %></title>
  <%= stylesheet_link_tag 'reset', 'base', 'common', 'styles' %>
  <%= javascript_include_tag 'jquery-1.4.2.js', 'rails', 'application' %>
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag %>
</head>
<body>
  <div id="header" class="centered">
    <h1><%= link_to @preferences[:site_title], root_path %></h1>
    <%= render :partial => 'shared/navigation' %>
  </div>
  <div id="content" class="centered">
    <div id="main">
      <% flash.each_pair do |key, value| -%>
        <p class="msg <%= key %>"><%= value %></p>
      <% end -%>
      <%= yield %>
    </div>
    <%= render 'shared/side_bar' %>
  </div>
  <div id="footer" class="centered">
    <p>copyright 2009 Dan Engle</p>
  </div>

</body>
</html>
