<!DOCTYPE html>
<html>
<head>
  <title><%= @preferences[:site_title] %></title>
  <%= stylesheet_link_tag 'reset', 'base', 'compiled/classes', 'compiled/common.css', 'compiled/styles.css' %>
  <%= javascript_include_tag 'jquery-1.4.2.js', 'rails', 'application' %>
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag %>
</head>
<body>
  <div id="header" class="centered_box">
    <div id="sub_header">
      <%= form_tag search_path do |f| %>
        <%= text_field_tag 'search', '', :class => 'small_round_left', :id => 'search_input' %>
        <%= submit_tag 'Search', :class => 'search_button' %>
      <% end %>
      <% unless @preferences[:twitter_username].blank? %>
        <%= link_to image_tag('twit1.gif'), "http://twitter.com/#{@preferences[:twitter_username]}" %>
      <% end %>
    </div>
    <h1><%= link_to @preferences[:site_title], root_path %></h1>
    <%= render :partial => 'shared/navigation' %>
  </div>
  <div id="content" class="centered_box">
    <div id="main">
      <% flash.each_pair do |key, value| -%>
        <p class="msg <%= key %>"><%= value %></p>
      <% end -%>
      <% unless @preferences[:top_horizontal_ad].blank? %>
        <div id="top_horiz_ad" class="boxed">
          <div>
            <%= raw @preferences[:top_horizontal_ad] %>
          </div>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'shared/side_bar' %>
  </div>
  <div id="footer" class="centered_box">
    <ul>
      <% Page.all.each do |page| %>
        <li><%= link_to page.title, page_path(page) %></li>
      <% end %>
    </ul>
    <p>copyright 2009 Dan Engle, whoa!</p>
  </div>
  <% if RAILS_ENV == 'production' && !@preferences[:analytics_script].blank? %>
    <%= @preferences[:analytics_script] %>
  <% end %>
</body>
</html>
